.btn {
  cursor: pointer;
  margin-top: 1rem;
  background-color: green;
  color: snow;
  padding: 0.5rem 2rem;
  border: transparent;
  border-radius: 5px;
}
button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
